<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="All.master.cs" Inherits="WebApplication1.All" %>

<!DOCTYPE html>

<html>
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
    <link rel="stylesheet" href="css/total.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/homepage.css">
    <link rel="stylesheet" href="css/zhuce.css">
    <link rel="stylesheet" href="css/layout.css">
    <link rel="stylesheet" href="css/k.css">
    <link rel="stylesheet" href="css/boy2.css">
    <link rel="stylesheet" href="css/Default.css">
    <link rel="stylesheet" href="css/fans.css">
    <link rel="stylesheet" href="css/safe.css">
    <%--<link href="Tourist/css/123.css" type="text/css" rel="stylesheet" charset="utf-8" />--%>

    <%--<link href="Tourist/css/12345.css" type="text/css" rel="stylesheet" id="skin_style" />--%>
</head>
<body>
    <form id="form1" runat="server">
        <div>
             <div class="nav">
                <div class="null"></div>
                <ul class="nav-left">
                    <img src="images/logo.png" alt="" class="logo-image">
                    <input type="text" class="left-input" placeholder="大家正在搜：宋亚轩中戏表演专业全国第十一">
                </ul>
                <div class="null"></div>
                <ul class="nav-center">
                    <li class="center-item"><a href="Index.aspx" class="center-item_link">我的首页</a></li>
                    <li class="center-item"><a href="Personnel.aspx" class="center-item_link">个人主页</a></li>
                    <li class="center-item"><a href="SetUp.aspx" class="center-item_link">设置</a></li>
                    <li>|</li>
                    <li class="center-item"><a href="#" class="center-item_link">微博精选</a></li>
                    <li class="center-item"><a href="#" class="center-item_link">发现</a></li>
                </ul>
                <div class="null"></div>
            </div>
            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
            </asp:ContentPlaceHolder>
        </div>
        
    </form>
   
</body>
</html>
