.boy_z1 {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-flow: nowrap;
    justify-content: center;
    padding-top: 100px;
}
.boy_left1 {
    width: 15%;
}

.ul2 li:hover {
    background-color: red;
}

    .ul2 li:hover a {
        color: white;
    }

.boy_left1 ul li {
    padding: 10px;
    width: 100px;
    margin: 10px;
    text-align: center;
}

    .boy_left1 ul li a {
        font-size: 1.2em;
        color: black;
    }

.boy_cent1 {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    width: 100%;
}

/*dl {
    margin: 20px;
}*/

.boy_cent1 img {
    width: 100%;
}
/*.t{
    width: 100%;
    margin-left: -40px;
}*/
.news-time1 {
    background-color: #e1e1e1e1;
    height: 120px;
    overflow: hidden;
    width: 100%;
}

.news-time-title1 {
    font-size: 1.1em;
}

.news-time-img1 {
    float: left;
    width: 200px;
    height: 120px;
    margin-right: 10px;
    animation-iteration-count: infinite;
}

.news-time-text1 {
    padding: 6px;
    color:gray;
    font-size:0.8em;
}
